<div id="<%= dom_id notification %>">
  <div>
    <strong>User:</strong>
    <%= notification.user_id %>
  </div>

  <div>
    <strong>Post:</strong>
    <%= notification.post_id %>
  </div>

  <div>
    <strong>Message:</strong>
    <%= notification.message %>
  </div>

  <div>
    <strong>Notification type:</strong>
    <%= notification.notification_type %>
  </div>

  <div>
    <strong>Is read:</strong>
    <%= notification.is_read %>
  </div>

</div>
